<div class="cover">
    <div class="name">
        <h1>Thomas Williams</h1>
        <p>Artist, engineering enthusiast, self taught web developer, and avid outdoors person. They/them</p>
    </div>
    <div class="coverImage">
        <img src="/img/thumbnail/cover-image.PNG">
    </div>
</div>