<div class="cover">     
    <div class="name">
        <a href="/">
            <h1>Thomas Williams</h1>
        </a>
        <p>Artist, engineering enthusiast, self taught web developer, and avid outdoors person. They/Them</p>
    </div>
        
    <div class="coverImage">
        <img src="/img/thumbnail/cover-image.png">
    </div>
</div>