<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/articles.css">
  </head>
  <body>
    <div id='container'>
      <div id="header">
        {{>cover }}
      </div>
      <div id='articleBody'>
        {{{contents}}}
      </div>
    </div>
  </body>
</html>