@font-face {
    font-family: 'ailerons';
    src: url('/fonts/ailerons-typeface-webfont.woff2') format('woff2'),
         url('/fonts/ailerons-typeface-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'forque';
  src: url('/fonts/forque-webfont.woff2') format('woff2'),
       url('/fonts/forque-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#header .cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    height: 256px;
    margin: 0px 0px 0px 0px;
    padding: 0 0 16px 0;
  }
  
  #header .name {
    float: center;
    margin: auto;
    padding: 0 0 0 0;
    z-index: 0;
  }
  
  #header .name h1 {
    font-family: 'forque';
    font-size: 60px;
    font-weight: 400;
    letter-spacing: .2em;
    color: white;
    margin: 0px;
  }
  
  #header .name p {
    font-size: 20px;
    font-weight: 1;
    font-variant: small-caps;
    color: white;
    margin: 0px;
  }
  
  #header .coverImage {
    position: absolute;
    top: 54%;
    left: 49%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0px;
    z-index: -1;
  }
  
  #header .coverImage img {
    opacity: 0.4;
  }
  
  #header a {
    text-decoration: none;
    display:inline-block;
    width:100%;
    height:100%;
  }

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    #header .cover {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align:center;
        height: 256px;
        margin: 0px 0px 16px 0px;
      }
      
      #header .name {
        float: center;
        margin: auto;
        padding: 56px 0 0 0;
        z-index: 0;
      }
      
      #header .name h1 {
        font-size: 64px;
        font-weight: 600;
        letter-spacing: 4px;
        font-variant: small-caps;
        color: white;
        margin: 0px;
      }
      
      #header .name p {
        font-size: 32px;
        font-weight: 1;
        font-variant: small-caps;
        color: white;
        margin: 0px;
      }
      
      #header .coverImage {
        position: absolute;
        top: 54%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        margin: 0px;
        z-index: -1;
      }
      
      #header .coverImage img {
        opacity: 0.4;
      }
      
      #header a {
        text-decoration: none;
        display:inline-block;
        width:100%;
        height:100%;
      }
}