@font-face {
  font-family: 'forque';
  src: url('/fonts/forque-webfont.woff2') format('woff2'),
       url('/fonts/forque-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1d292f;
  text-align: center;
  color: #d7dbdf;
  margin:0;
  padding:0;
  height: 100%;
}


#container {
  min-height: 100%;
  justify-content: center;
  height: auto !important;
  height: 100%;
  margin: 0 auto -20px;
  overflow: hidden;
}

.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 2rem 1rem;
}

:root {
  /* Desktop grid vars */
  --wrapperWidth: 100vw;
  --gutter: 0px;
  --noOfColumns: 4;

  --rowHeight: calc((var(--wrapperWidth) - (2 * var(--gutter))) / 4);

  --ratioA: 1;
  --ratioB: 1;

  /* Mobile grid vars */
  --MobilewrapperWidth: 100vw;
  --Mobilegutter: 0px;
  --MobilenoOfColumns: 1;

  --MobilerowHeight: calc((var(--MobilewrapperWidth) - (2 * var(--Mobilegutter))) / 1);

  --MobileratioA: 1;
  --MobileratioB: 1;
}

#portfolio {
  position: relative;
  width: var(--wrapperWidth);
  display: grid;
  background: #1d292f;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: var(--rowHeight);
  grid-gap: var(--gutter);
  margin: 6px 0px 0px 0px;
}


.entry {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.entry:hover .overlay {
  opacity: 1;
}

.entry:hover img {
  opacity: 0.4;
}

.entry img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  
  opacity: 1;
  display: block;
  transition: .2s ease;
  backface-visibility: hidden;
}

.entry img.portrait {
  width: 100%;
  height: auto;
}

.overlay {
  transition: .2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width:100%;
}

.previewTitle {
  color: white;
  font-variant: small-caps;
  text-align: center;
  font-size: 24px;
  width:80%;
  margin: 0 auto;
  padding: 2px 2px;
}

.previewDesc {
  color: white;
  text-align: center;
  font-size: 16px;
  width:80%;
  margin: 0 auto;
  padding: 2px 2px;

}

/* unvisited link */
a:link {
  color: #5DA3B2;
}

/* visited link */
a:visited {
  color: #d37537;
}

.bio {
  margin: auto;
  width: 62%;
  font-size: 18px;
  padding: 0px 0px 0px 0px;
  border-top: 2px solid white;
}

.bioLong {
  display: none;
}

.bioLong .show-bio {
  display: inline;
  padding: 24px 0px 0px 0px;
}

.show-bio {
  display: inline-block;
  margin: 24px 0px 12px 0px;
}

button{
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  cursor:pointer;
  border:none;
  padding:8px;
  margin: 12px 8px 6px 8px;
  font-size: 16px;
    font-weight: 1;
    color: #1d292f;
  background:white;
  box-sizing:border-box;
  border-radius: 4px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  

  #portfolio {
    position: relative;
    width: var(--MobilewrapperWidth);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: var(--MobilerowHeight);
    grid-gap: var(--Mobilegutter);
  }

  .entry img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    opacity: 1;
    display: block;
    transition: .2s ease;
    backface-visibility: hidden;
  }

  .previewTitle {
    color: white;
    font-variant: small-caps;
    font-size: 64px;
    padding: 2px 2px;
  }
  
  .previewDesc {
    color: white;
    font-size: 48px;
    padding: 2px 2px;
  }
}